# === Data ===
*.csv
*.pkl

# === Python ===
__pycache__/
**/__pycache__/
*.pyc
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# === Виртуальные окружения ===
.venv*/
venv*/

# === секреты / служебное ===
.env
.claude/

# === MLflow артефакты ===
mlflow/mlruns.db
mlflow/mlartifacts/
mlflow/mlruns/

# === Прочие генерации ===
catboost_info/
outputs/
practice/
*.bak*